.feed-text {
    margin: 0;
    margin-bottom: 15px;
}

.overflow-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.img-content-learn {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 243px;
}